/* font */
body{
    font-family: 'Prompt', sans-serif;
}

/* text-bar */
.link-bar a.nav-link{
    color: white;
    font-size: 20px;
}
ul.link-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* a.nav-link:hover {
    color: rgb(247, 242, 0);
} */

/* control css */
/* card control */
.card-control {
    padding: 20px;
    background-color: #c5c5c5;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .status-p {
    text-align: end;
  }
  #status {
    color: white;
    background-color: #50dc00;
    padding: 6px;
    border-radius: 15px;
    font-size: 18px;
  }
  .col.mac {
    display: flex;
    flex-direction: column;
  }
  input.input-m {
    border-radius: 15px;
  }
div#realtime {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pm-box {
    color: white;
    font-weight: 600;
    background-color: #22e389;
    padding: 10px;
    border-radius: 5px;
  }
.temp-box {
    color: white;
    font-weight: 600;
    background-color: #aacfff;
    padding: 10px;
    border-radius: 5px;
  }
 .hum-box {
    font-weight: 600;
    color: white;
    background-color: #dff2cb;
    padding: 10px;
    border-radius: 5px;
  }
  h1#pm {
    font-size: 72px;
  }
  h1#temp {
    font-size: 72px;
  }
  h1#hum {
    font-size: 72px;
  }
.control-border{
  border:1px solid #ccc;
  padding: 5px 20px 10px 20px;
}
  
  /* ------------------------ box-control ------------------------ */
  #light-status-mqtt {
    background-color:#ccc;
    border-radius:50px;
    height:20px;
    width:20px;
    margin-top: 10px;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid #ccc;
  }
  #light-status-machine {
    background-color:#ccc;
    border-radius:50px;
    height:20px;
    width:20px;
    margin-top: 5px;
    margin-right:auto;
    margin-left:auto;
  }

#box-control {
  padding: 15px;
  background-color: cadetblue;
  color: white;
}
h2.h-control {
  font-weight: bold;
}
h5.h-topic {
  font-size: 16px;
  font-weight: 600;
}
.sub-manual {
  margin-left: 20px;
}

  /* ---------- table machine ------------ */
#machine-list {
    height: 440px;
    overflow-y: auto;
}
  thead.table-h {
    background: black;
    color: white;
    text-align: center;
  }
  tbody.table-b {
    text-align: center;
  }
  .card-machine-body{
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
  }
  .card-machine-footer {
    border: 1px solid;
    padding: 10px;
    border-top: 0;
}
  div#dialog-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div#dialog-background {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11999;
  }
  a#it-brand {
      font-size: 20px;
      font-weight: 600;
  }
  div#dialog-delete {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11999;
  }

  /* ----------------- map ------------------ */
#map-location {
    margin-top: 40px;
}

#map{
  height: 500px;
}
div#iconmap{
  height: 30px;
  width: 30px;
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 35px;
  height: 35px;
  transform: rotate(-45deg);
}
.mappm{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.icon-map-box{
  position: absolute;
}

/* --------------- chart ------------- */
#chart {
  height: 500px;
}
#chart2 {
  height: 500px;
}
.no-data {
  text-align: center;
  margin-top: 30px;
}
#graph-pm {
  margin-top: 20px;
}
  /* ------------------------------------------------------------------------------------------ */
  /* button on off */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end */

/* -------------------- Resposive ------------------------ */
/* -------------------- 1200px ---------------------- */
@media only screen and (max-width:1200px) {
/* add */
div#dialog-form {
  width: 80%;
}
  
}
/* ---------------- IPED PRO 1024px ----------------- */
@media only screen and (max-width: 1024px) {
/* map-local */
#map-location {
  margin-top: 20px;
}
div#map-box {
  width: 100%;
}
#map {
  height: 350px;
}
div#machine-box {
  width: 100%;
  margin-top: 15px;
}
#machine-list {
  height: 185px;
}
}

/* ---------------- IPED AIR 820 --------------- */
@media only screen and (max-width:820px) {
/* control */
.machine.col-lg-7 {
  margin-top: 10px;
}

/* map-local */
#machine-list {
  height: 165px;
}


}

/* -------------- 480 ---------- */
@media only screen and (max-width:480px) {
/* bar */
ul.me-auto.mb-2.mb-lg-0 {
  flex-direction: row;
}
.link-bar a.nav-link {
  font-size: 16px;
  margin-right: 5px;
  padding: 5px;
}
/* realtime */
h1#pm {
  font-size: 50px;
}
h1#temp {
  font-size: 50px;
}
h1#hum {
  font-size: 50px;
}
.sensor-realtime {
  margin-bottom: 5px;
}
div#realtime {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* map-local */
thead.table-h {
  font-size: 12px;
}
tbody.table-b {
  font-size: 12px;
}
#machine-list {
  height: 140px;
}

/* graph */
#chart {
  height: 350px;
}
#chart2 {
  height: 350px;
}

}

/* ---------------- IPhone 375 px --------------- */
@media only screen and (max-width:375px) {
/* control */
.status-machine.col-lg-5 {
  font-size: 14px;
}
.control-border {
  padding: 5px 10px 10px 10px;
}

}

/* ---------------- samsung 360 px --------------- */
@media only screen and (max-width:360px) {
  /* control */
  .status-machine.col-lg-5 {
    font-size: 12px;
  }
  
  }

/* ----------------- IPhon 5 320px --------------- */
@media only screen and (max-width:320px) {
  /* bar */
  img#icon-weather {
    width: 110px;
}
.link-bar a.nav-link {
  font-size: 14px;
  margin-right: 5px;
  padding: 5px;
}

/* control */
.sub-manual {
  margin-left: 12px;
}

}
