/* font */
body{
    font-family: 'Prompt', sans-serif;
}

/* text-bar */
.collapss a.nav-link{
    color: white;
    font-size: 20px;
}
/* a.nav-link:hover {
    color: rgb(247, 242, 0);
} */

/* control css */
/* card control */
.card-control {
    padding: 20px;
    background-color: #c5c5c5;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .status-p {
    text-align: end;
  }
  #status {
    color: white;
    background-color: #50dc00;
    padding: 6px;
    border-radius: 15px;
    font-size: 18px;
  }
  .col.mac {
    display: flex;
    flex-direction: column;
  }
  input.input-m {
    border-radius: 15px;
  }
  .col.pm-box {
    color: white;
    font-weight: 600;
    background-color: #22e389;
    margin: 10px;
    border-radius: 5px;
  }
  .col.temp-box {
    color: white;
    font-weight: 600;
    background-color: #aacfff;
    margin: 10px;
    border-radius: 5px;
  }
  .col.hum-box {
    font-weight: 600;
    color: white;
    background-color: #dff2cb;
    margin: 10px;
    border-radius: 5px;
  }
  h1#pm {
    font-size: 72px;
  }
  h1#temp {
    font-size: 72px;
  }
  h1#hum {
    font-size: 72px;
  }
  
  /* ------------------------ box-control ------------------------ */
  #light-status-mqtt {
    background-color:#ccc;
    border-radius:50px;
    height:20px;
    width:20px;
    margin-top: 10px;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid #ccc;
  }
  #light-status-machine {
    background-color:#ccc;
    border-radius:50px;
    height:20px;
    width:20px;
    margin-top: 5px;
    margin-right:auto;
    margin-left:auto;
  }

#box-control {
  padding: 15px;
  background-color: cadetblue;
  color: white;
}
span.mb-2.span-control {
  font-size: 18px;
  font-weight: bold;
}
span.mb-2.span-topic {
  font-weight: bold;
  margin-left: 25px;
}
.sub-manual {
  margin-left: 20px;
}

  /* ---------- table machine ------------ */
#machine-list {
    height: 500px;
    overflow-y: auto;
}
  thead.table-h {
    background: black;
    color: white;
    text-align: center;
  }
  tbody.table-b {
    text-align: center;
  }
  .card-machine-body{
    border: 1px solid;
  }
  .card-machine-footer {
    border: 1px solid;
    padding: 10px;
    border-top: 0;
}
  div#dialog-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div#dialog-background {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11999;
  }
  a#it-brand {
      font-size: 20px;
      font-weight: 600;
  }
  div#dialog-delete {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11999;
  }

  /* ----------------- map ------------------ */
#map-location {
    margin-top: 40px;
}

#map{
  height: 500px;
}
div#iconmap{
  height: 30px;
  width: 30px;
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 35px;
  height: 35px;
  transform: rotate(-45deg);
}
.mappm{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.icon-map-box{
  position: absolute;
}

/* --------------- chart ------------- */
#chart {
  height: 500px;
}
#chart2 {
  height: 500px;
}

  /* ------------------------------------------------------------------------------------------ */
  /* button on off */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end */

