/* day */
div#chart {
    margin-left: auto;
    margin-right: auto;
}
.pmDay {
    text-align: center;
    margin-top: 35px;
}
.pmDay h1 {
    margin-bottom: 25px;
}

/* week */
div#chart2 {
    margin-left: auto;
    margin-right: auto;
}
.pmWeek {
    text-align: center;
    margin-top: 35px;
    display: none;
}
.pmWeek h1 {
    margin-bottom: 25px;
}
