/* day */
div#chart {
    margin-left: auto;
    margin-right: auto;
}
.pmDay {
    text-align: center;
    margin-top: 35px;
}
.pmDay h1 {
    margin-bottom: 25px;
}

/* week */
div#chart2 {
    margin-left: auto;
    margin-right: auto;
}
.pmWeek {
    text-align: center;
    margin-top: 35px;
    display: none;
}
.pmWeek h1 {
    margin-bottom: 25px;
}

/* ----------- select chart ---------------- */

/* ------------------ chart ------------------- */
div#pm1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
div#chart {
    margin-left: auto;
    margin-right: auto;
}

/* ----------------- chartSelect --------------- */
/* chart Rigth */
.insert-box {
    background-color: #75b4eb;
    margin-top: 10px;
    padding: 15px;
}
.col-md-1.part2 {
    display: flex;
    justify-content: center;
    align-items: end;
}
.col-md-3.part4 {
    display: flex;
    justify-content: center;
    align-items: end;
}
input#date1 {
    margin-right: 10px;
}
input#date2 {
    margin-right: 10px;
}

/* ------------- media -------------------- */
