/* day */
div#chart {
    margin-left: auto;
    margin-right: auto;
}
.pmDay {
    text-align: center;
    margin-top: 35px;
}
.pmDay h1 {
    margin-bottom: 25px;
}

/* week */
div#chart2 {
    margin-left: auto;
    margin-right: auto;
}
.pmWeek {
    text-align: center;
    margin-top: 35px;
    display: none;
}
.pmWeek h1 {
    margin-bottom: 25px;
}

/* ----------- select chart ---------------- */

/* ------------------ chart ------------------- */
div#pm1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
div#chart {
    margin-left: auto;
    margin-right: auto;
}

/* ----------------- chartSelect --------------- */

/* chart left */
.chart-left.col-sm-2.col-md-2 {
    height: 100vh;
}
.logo-home {
    text-align: center;
    border-bottom: 2px solid white;
}
.logo-home a img {
    width: 100%;
}
.it-list-box ul {
    margin-left: 0;
    padding: 0;
}
.it-list-box ul li {
    padding: 10px;
    font-size: 26px;
    font-weight: 800;
    color: snow;
    list-style: none;
    margin-top: 10px;
}
.it-list-box ul li img {
    margin-bottom: 12px;
    margin-right: 8px;
}

/* chart Rigth */
.insert-box {
    background-color: #75b4eb;
    margin-top: 10px;
    padding: 15px;
}
.col-md-1.part2 {
    display: flex;
    justify-content: center;
    align-items: end;
}
.col-md-3.part4 {
    display: flex;
    justify-content: center;
    align-items: end;
}
input#date1 {
    margin-right: 10px;
}
input#date2 {
    margin-right: 10px;
}

/* ------------- media -------------------- */
@media only screen and (max-width: 1920px) {
    .it-list-box ul li {
        font-size: 20px;
    }
}
    
@media only screen and (max-width: 1366px) {
    .it-list-box ul li {
        font-size: 16px;
    }
}