.weather {
    text-align: center;
}
/* temp */
img.temp-img {
    height: 10%;
    padding: 10px;
}
p#tamp {
    padding: 10px;
    font-size: 24px;
}
span.temp-symbol {
    font-size: 20px;
    margin-top: 16px;
}
/* pm */
img.pm-img {
    width: 30%;
    padding: 10px;
}
p#pm {
    padding: 10px;
    margin-bottom: auto;
    align-items: end;
    margin-top: auto;
    font-size: 60px;
}
span.pm-symbol {
    margin-top: 75px;
    font-size: 25px;
}
/* hum */
p#hum {
    padding: 10px;
    font-size: 24px;
}
img.hum-img {
    height: 10%;
    padding: 10px;
}
span.hum-symbol {
    margin-top: 20px;
    font-size: 15px;
}

.PM.col-6 {
    border: 1px solid rgb(0 0 0/5%);
    border-radius: 20px;
    background: #87CEFA;
    color:white;
}
.t-h.col-6 {
    background: rgb(0 0 0/90%);
    color: white;
    border: 1px solid;
    border-radius: 25px;
}

/* pm24 */
.card-pm24 {
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 3px 6px rgb(0 0 0 / 60%);
}
.head-pm24 {
    border-bottom: 1px solid;
    padding: 10px 10px 5px;
    display: flex;
    justify-content: space-between;
}
.body-pm24.row {
    padding: 20px;
}
div#color-level-pm24 {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
div#value-pm24 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}
div#level-pm24 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

/*----------------- bar-1 ----------------------*/
.bar-1 {
    margin-bottom: 50px;
    background-color: #e3f2fd;
}
img.bru-img {
    width: 10%;
}
img.it-img {
    width: 30%;
}

/* ------------------ chart ------------------- */
div#pm1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
div#chart {
    margin-left: auto;
    margin-right: auto;
}

/* ----------------- chartSelect --------------- */
.col-md-12.col-lg-1.part2 {
    text-align: center;
    margin-top: 35px;
}

/* details table */
#details-level {
    margin-top: 35px;
}
table.table.table-bordered.t-1 {
    text-align: center;
}
.circle_table {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
/* map */
div#Machinlocat {
    margin-bottom: 50px;
}
div#map {
    height: 400px;
}